In [1]:
import FinancialInstrument as FI

In [2]:
stock = FI.FinancialInstrument("AAPL", "2015-01-01", "2018-01-01")

[*********************100%***********************]  1 of 1 completed

In [3]:
stock

FinancialInstrument(ticker = AAPL, start = 2015-01-01, end = 2018-01-01)

In [4]:
stock.data

                price  log_returns
Date
2015-01-02  27.332500          NaN
2015-01-05  26.562500    -0.028576
2015-01-06  26.565001     0.000094
2015-01-07  26.937500     0.013925
2015-01-08  27.972500     0.037703
...               ...          ...
2017-12-22  43.752499     0.000000
2017-12-26  42.642502    -0.025697
2017-12-27  42.650002     0.000176
2017-12-28  42.770000     0.002810
2017-12-29  42.307499    -0.010873

[755 rows x 2 columns]